### Py3 vs Py3

- print method 
- division operation
- characteral data representation 
    - ASCII  - 8bit (256)
    - UNICODE - 16 bit  (65536)

### Print() Method

In [ ]:
print()  it prints data on the console(screen)

# print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)
# attributes 
    - value
    - sep 
    - end
    - file
    - flush 
    
# shift+TAB = to display the syntax

In [ ]:
#run = shift +tab
print("Hello World") #function or method print() 
print('Python Session')
print("""July Class""")

In [ ]:

# int   0-9
# float 0.0 ,10.2
# str   'a-z' 'A-Z' '@@*(*@)'
# bool   True False
# complex 10+2j
# None

# SEQUENCE Datatypes 
# [] - List
# () - Tuple
# {} - set , dictionary

In [ ]:
print(10)
print("Helo")
print(10.90)
print(True,False)
print(10+2j)
print([1,20,30])
print(("a","b","c","d"))
print({"a","b","c","d","a","b"})
print({"name":"AKR","Session":"Python"})

In [ ]:
# other lang
# <datatype> <var-name> = value

# python

# <var-name> = value

In [6]:
a = 10 #declared
b = True
c = "Hello"
print(a)
print(b)
print(c)

10
True
Hello

In [8]:
print(a,b,c)

10 True Hello

In [11]:
print(a,b,c, sep="       ")
# \n = new line
# \t = tab

10       True       Hello

In [13]:
print(a,b,c, sep="")

10TrueHello

In [12]:
print(a,b,c, sep="\n")

10
True
Hello

In [24]:
print(a,b,c,sep="\t")

10	True	Hello

In [28]:
sample = open("greet.txt",mode="w")

print("September 30 Python session",file=sample)

a= 10
b = 20
print(f"Addition of {a} and {b } = {a+b}", file = sample)

In [21]:
scores = [10,20,304,20,302,20] #list

for data in scores:
    print(data, end = ",")

print(max(scores))
print(min(scores))

304
10

In [23]:
big = scores[0]

for i in range(1,len(scores)):
    if(scores[i] < big):
        big = scores[i]
        
print(big)

10

In [ ]:
name = "Anil K Rajamoni"

for d in name:
    print(d , end = "")

###  comments

In [ ]:
# single 
 ''' ''' - mutliple line comment

In [ ]:
# print("Helloo")
# print("PythonSEssion")

#cnt+/ = to 
# snllsmlsm sjlsn sklslns 

'''
skhkls
sjbknks
snjknls
sjksnlks2987921
2802u10sn
'''

print("Hello")

#### Variables

In [ ]:
# IN OTHER LANG

<datatype> <variable_name > = <value> 

int age = 22; #jave , c , c++ 

age = 22 #python

### RULES

- Must Start with ALPHA(a-z)(A-Z) , _
- Can't start with NUMERIC (0-9)
-  A Variable = APLHA + NUMERIC + _ 
- A Variable can't have same name as KEYWORDS or Python Reserved words.
- CASE SENSTITIVE

In [ ]:
# <variable_name > = <value>

name = "Python session"

print(name)
print(type(name))

In [ ]:
name = 10
print(name, type(name))

In [ ]:
name = 10.1
print(name, type(name))

In [ ]:
name = True
print(name, type(name))

In [ ]:
name = 1+2j
print(name, type(name))

In [ ]:
name = [10]
print(name, type(name))

In [ ]:
name = (10,)
print(name, type(name))

In [ ]:
name = {10}
print(name, type(name))

In [ ]:
name = {10:10}
print(name, type(name))

In [ ]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

In [ ]:
print = 10 #wrong way

In [ ]:
print("Hello")

In [ ]:
while = 10

In [ ]:
while_ =10
print(while_)

In [ ]:
_ = 1012
print(_,type(_))

In [ ]:
98_age = 10

In [ ]:
age_98 = 20
print(age_98)

In [ ]:
# type(var)  - to know data type
#  id(var)  - to know memory addr

In [ ]:
age = 20
AGE = 22
print(id(age), id(AGE))

In [ ]:
a=10
A=10
print(id(a) ,id(A))

In [ ]:
a=10
b=10
c=10

c=d=e=101 #assign single mutliple variable
print(c,d,e)

In [ ]:
a,b, c = 10,11,12 ##assign mutliple to  mutliple variable
print(a,c,b)

In [ ]:
movie_actor = "Tom Hanks"
print(movie_actor , type(movie_actor) , id(movie_actor))

In [ ]:
print(print("Hello")) 

# return type of print() is None

In [ ]:
def printName():
    print("Hi Welcome July Python")

printName()

In [ ]:
print(printName())

In [ ]:
def printName():
    print("Hi Welcome July Python")
    return "CHARLIE"

print(printName())

In [ ]:
def printName():
    print("Hi Welcome July Python")
    return "CHARLIE"

a = printName()
print(a)

In [ ]:
print()

In [ ]:
a=10
print("HY")
print() #empty line
print()
print(a)

In [ ]:
print(print(print()))

### Data types

In [ ]:
int_var = 10
print(int_var,type(int_var))

In [ ]:
print(bin(10))

In [ ]:
print(oct(10))

In [ ]:
print(hex(15))

In [ ]:
print(0xF+0B0111)

In [ ]:
float_var =1.0

print(float_var)
print(type(float_var))

In [ ]:
float_var = 3.4e-5
print(float_var)

In [ ]:
print(10/0.0)

In [ ]:
# x+iy
#  x is integer y is imag 

com_var = 2+3j

In [ ]:
print(com_var,type(com_var))

In [ ]:
print(dir(com_var))

In [ ]:
com_var.real

In [ ]:
com_var.imag

In [ ]:
com_var.conjugate().conjugate()

In [ ]:
str_a = "10"

print(int(str_a))

a = 10
print(type(str(a)))

### conversions

In [ ]:
#int - str

In [ ]:
a = 100101 
s = str(a)
print(s,type(s))

In [ ]:
s.count("0")

In [ ]:
#float - str

In [ ]:
f = 10.189289829

s = str(f)

print(s,type(s))

In [ ]:
#complex - str

In [ ]:
c = 1+2j

s = str(c)
print(s,type(s))

In [ ]:
#boolean - str

In [ ]:
b = True

s = str(b)
print(s,type(s))

print(s[2])

In [ ]:
#int - float 

i = 10

f = float(i)
print(i)

In [ ]:
f = 10.2

i = int(f)

print(i)

In [ ]:
#str - int

s = "110182892"

i = int(s)

print(i , type(i))

In [ ]:
#str - float

s = "10.2920802"

f = float(s)

print(f)

In [ ]:
lst = [10,20,30,40,50,40,10]

tup = tuple(lst)

print(tup)

In [ ]:
st = set(lst)
print(st)

In [ ]:
#built -in

# type()
# id()
# dir()
# len()
# chr()
# ord()
# max()
# min()
# abs()
# sum()

print(dir(tup))

In [ ]:
a,b=10,20
list_var = [10,20,40,5,28,90,220] #list , iterable(which has location)
print(max(a,b))
print(min(list_var))
print(max(list_var))
print(sum(list_var))

In [ ]:
a = 1.6782

round(a)

In [ ]:
abs(-17822)

In [ ]:
pow(2,8)

In [ ]:
print(2**8)

In [ ]:
arr = [10,20 ,30]
print("Sum = " , sum(arr))
print("Length is " , len(arr))
avg = sum(arr)/len(arr)
print(avg)

In [ ]:
sample = open("demo.txt",mode ="a")
print("Hello Geeks for Geeks", file = sample )

### input()

In [ ]:
name = input("Enter the username: ")

print(name)
print(type(name))

In [ ]:
num = input()

print(num,type(num))


num = int(num)

print(num,type(num))

In [ ]:
num = input()

print(num,type(num))


num = float(num)

print(num,type(num))

In [ ]:

num = int(input())

print(num, type(num))

In [ ]:

num = float(input())

print(num, type(num))

In [ ]:

num = bool(input())

print(num, type(num))

In [ ]:

num = complex(input())

print(num, type(num))

### Sequence 

- list
- tuple
- set

In [ ]:
#list 

friends = ["f1","f2","f3","f4","f5","f6","f7","f8","f9","f10"]

print(friends)

In [ ]:
print(len(friends)) #0-9

In [ ]:
print(friends[0])

In [ ]:
print(friends[-1])

In [ ]:
print(friends[-11])

In [ ]:
friends[2] = "Marry"

print(friends)

In [ ]:
friends[12] = "Marry"

print(friends)

In [ ]:
#tuple

courses = ("py","java","scala","ruby")

print(courses , type(courses), id(courses),len(courses))

In [ ]:
courses[-11]

In [ ]:
courses[0] ="python"

In [ ]:
print(dir(courses))

In [ ]:
courses.count("ruby")

In [ ]:
#range()

# start = 0
# step =1
# stop = len

list(range(1,10,1)) #stop is exclusive

In [ ]:
list(range(10))

In [ ]:
list(range(1,10,3))

In [ ]:
list(range(-1,10,-1))

In [ ]:
list(range(1,20,2))

In [ ]:

l=[0]*10
print(l)

In [ ]:

l=[]


l[0] = 10

print(l)

In [ ]:
a = [1,23,3]
b=[10.1,11.21,78.2]

c=[]
print(c)

c.append(a[0]+b[0]) #0
c.append(a[1]+b[1]) #1
c.append(a[2]+b[2]) #2
print(c)

In [ ]:
# set()

s = {"a","b","c","d","a"}
print(s)

In [ ]:

s="ANILKRAJAMONIKUMAR"
print(set(s))

In [ ]:
s[0]

In [ ]:
# {key:value}

student = {
        "name" : "Marry",
        "course" :"python",
        "fee":1000
}

In [ ]:
print(student)

In [ ]:
# {key:value}

# keys should immutables data types 
# tuple
# str
#  int , float , complex , boolean

student = {
        ["name"] : "Marry",
        "course" :"python",
        "fee":1000
}

In [ ]:
student = {
        ("name") : "Marry",
        "course" :"python",
        "fee":1000,
        10:10,
        True:"Boolen",
        10+2j : "complex"
}

In [ ]:
student[True]

In [ ]:
student[10]

In [ ]:
student[("name")]

In [ ]:
student["fee"]

In [ ]:
student["fee1"]

In [ ]:
student.get("fee")

In [ ]:
student.get("fee2","Key is not there")

#### Sequence Data Type Methods

##### LIST

In [ ]:
print(dir([]))

In [ ]:
companies_stock = [("TCS",3052),("infosys",1320),("Accen",4321),("wipro",498)]

In [ ]:
print(len(companies_stock))

In [ ]:
print(companies_stock[0])

In [ ]:
print(companies_stock[-1])

In [ ]:
print(companies_stock[0][0],type(companies_stock[0][0]))

In [ ]:
#append()
companies_stock.append(("Google",686))
print(companies_stock)

In [ ]:
companies_stock.append("Google",686)
print(companies_stock)

In [ ]:
#extend()

print([1,3,2]+["a","b","c"])

In [ ]:
companies_stock

In [ ]:
companies_stock.extend([("Netflix",298),("Ola",278)])
companies_stock

In [ ]:
companies_stock.extend(([("Netflix",298),("Ola",278)]))
companies_stock

In [ ]:
#insert(loc,data)

companies_stock.insert(5,("Amazon",2782))
companies_stock

In [ ]:
companies_stock.insert(0,"ABC")
companies_stock

In [ ]:
companies_stock.insert(15,"XYZ")
companies_stock

In [ ]:
#index()


It_companies = ["Google","Microsoft","Amazon","Netflix","Ola","TCS","Infosys","TCS","Accenture"]

print(len(It_companies))

print(It_companies.index("Accenture"))



        
print(It_companies.index("TCS"))

In [ ]:
#copy()

Dup_companies = It_companies.copy() #Deep copy

print(id(Dup_companies),id(It_companies))

In [ ]:
It_companies[0] = "Googe"
print(Dup_companies,It_companies,sep="\n")

In [ ]:
#clear() - removes all the elements
Dup_companies.clear()

print(Dup_companies)

In [ ]:
dup2 = It_companies.copy()

del dup2 

print(dup2)

In [ ]:
print(dir([]))

In [ ]:
It_companies.count("TCS")

In [ ]:
It_companies.count("NetflixY")

In [ ]:
It_companies.index("ABC")

In [ ]:
#copy() method will create a separate block of memory , so ID's will be different
# Changes in one variable will not affect in another variable

#alias = both will have memory locations , change in one variable will affect the other variable

dup3 = It_companies

print(id(dup3),id(It_companies))

dup3[0] = "AK"

print(dup3,It_companies)

In [ ]:
#pop(-1) # loc

It_companies.pop() #-1 #Last

In [ ]:
popped_item = It_companies.pop(5)
print(popped_item)

In [ ]:
popped_item = It_companies.pop(15)
print(popped_item)

In [ ]:
#remove()

It_companies.remove("Ola")

In [ ]:
It_companies

In [ ]:
remove_item = It_companies.remove("Amazon")

print(remove_item)

In [ ]:
It_companies

In [ ]:
It_companies.reverse()

In [ ]:
It_companies

In [ ]:
It_companies.append("abc")
It_companies.extend(["Kia","coorg","absy"])

It_companies

In [ ]:
print(ord("a"),ord("A"))

In [ ]:
It_companies.sort() #ascii

In [ ]:
It_companies

In [ ]:
It_companies.sort(reverse=True)
It_companies

In [ ]:
dir(It_companies)

In [ ]:
# all list methods
append() # only 1
extend() # more than 1 or add list to the tail of the another tail
count()
index()
sort()
reverse()
copy()



#insertion of data
append()
extend()
insert()

#deletion

remove() #based onvalues
clear() #all
pop() #based on loc  #default = -1

#sorting
sort() #revere=True (desc)  , False = ascen

#copy
copy()

#index and counting

index()
count()

##### Tuple

In [ ]:
print(dir(()))

In [ ]:
class A:
    def __int__(self):
        self.lst=[]
    def m1(self):
        print("Iam M1")
    def __str__(self):
        return "Iam String version of object"
    
    def __add__(self,a):
        self.lst=[]
        return self.lst.append(a)
       
    
a = A()

a.m1()

print(a)

print(a+[1,21])
print(a.lst)

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)
print(thistuple.count(5))

In [ ]:
thistuple.count(50)

In [ ]:
thistuple.index(50)

### set methods

In [ ]:
s = {'a',"b"}
print(dir(s))

In [ ]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

In [ ]:


fruits.add("orange1")

print(fruits)

fruits.add("orange")
print(fruits)

In [ ]:
dup_fruits = fruits.copy()

print(id(dup_fruits),id(fruits))

In [ ]:
#clear()
dup_fruits.clear()

print(dup_fruits)

In [ ]:
fruits

In [ ]:
#pop()
fruits.pop()

In [ ]:
dup_fruits.pop()

In [ ]:
#remove()

print(fruits)

fruits.remove("apple")
fruits

In [ ]:
fruits.remove("apple")

In [ ]:
dup_fruits.remove("Apple")

In [ ]:
#difference()
# syntax 
# setA.difference(setB)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y) #x-y 

print(z)

In [ ]:
z = y.difference(z) #x-y 

print(z)

In [ ]:
z = y.symmetric_difference(x) #y-z 

print(z)

In [ ]:
x.difference(y) | y.difference(x)

In [ ]:
#discard() -> remove 

fruits = {"apple", "banana", "cherry","banana",11,11,11,11}

print(fruits)

fruits.discard("banana")
# 
print(fruits)

In [ ]:
fruits.discard("banana")

In [ ]:
#intersection = common elements

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)
print(z)

In [ ]:
print(x.union(y))

In [ ]:
#isdisjoint()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple1"}

z = x.isdisjoint(y) #x not equal to y #true or false 

print(z)

In [ ]:
cars = {"Swift","Mercedes","Tata","I10","I20","Kia","MG"}

print(cars)

#remove()

cars.remove("Tata")

cars.discard("Kia")

In [ ]:
cars.remove("Alto") #throw Error if not present
cars.discard("Audi") #will not throw an Error , even if it is not present.

In [ ]:
# set methods
union()
add()
intersection()
difference()
symmetric_difference()
discard()
pop()
remove()

##### Dictionary Methods

In [ ]:
comp = {
  "name": "Google",
  "type": "MNC IT",
  "year": 1992,
  "ceo":"Sundar P"
}
print(comp)

In [ ]:
print(comp["name"])

In [ ]:
print(comp.get("name2","Key not present"))

In [ ]:
print(comp["name2"])

In [ ]:
dir(comp)

In [ ]:
comp

In [ ]:
comp.keys()

In [ ]:
comp.values()

In [ ]:
comp.items() #[(),(),()]

In [ ]:
comp.pop("type")

In [ ]:
comp

In [ ]:
comp.pop("type")

In [ ]:
comp

In [ ]:
comp.popitem()

In [ ]:
# {}.popitem()
# [].pop()

In [ ]:
comp

In [ ]:
comp.update({"name":"Amazon"})

In [ ]:
comp

In [ ]:
comp.update({"name2":"Netflix"})

In [ ]:
comp

In [ ]:
x = ('key1', 'key2', 'key3')
y = ('a','b','c')

thisdict = dict.fromkeys(x, y)

print(thisdict)

In [ ]:
#NOTE 
#accessing and removing with unknow key=>key error
#for updating it will , adbd a new item (K , V)

#### Indexing

In [ ]:
list_1D = ["Facebook",0.0,"USD",2974676,3.5,True,10+2j]

In [ ]:
print(len(list_1D))

In [ ]:
list_2D= [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]
print(list_2D)

In [ ]:
list_2D= [[2, 4, 6, 8, 10,['Google','MS','Info']], [3, 6, 9, 12, 15,['a','dog','bird']], [4, 8, 12, 16, 20]]

print(list_2D[0][5][2])

In [ ]:
print(list_2D[-3][-1][-1][-2])

In [ ]:

some_list = [1,2,['a','b',['cat','dog'],'c'],3]

# write a statement to access 't' of 'cat'

print(some_list[2][2][0][2])

In [ ]:
print(some_list[-2][-2][-2][-1])

In [ ]:
#slicing  [start:stop:step]
# step =1 #default
# stop = exclusive # default = len
# start = 0 # default



#if the step is -1
#start -1
#stop = -len+(-1)
#step = -1 

#result is reverse order.



list_1D = ["Facebook",0.0,"USD",2974676,3.5,True,10+2j]


# list_name[start:stop:step]
list_1D[1:4:1]

In [ ]:
list_1D[1:4]

In [ ]:
list_1D[:6]

In [ ]:
list_1D[:100]

In [ ]:
list_1D[-1:-len(list_1D)-1:-1]

In [ ]:
some_list = [1,2,['a','b',['cat','dog'],'c'],3,7,39]
some_list[2:3:1]

In [ ]:
list_1D[::-1]

In [ ]:
list_1D

In [ ]:
name = "AKRajamoni"
print(name[-1])
print(name[:3])
print(name[1:6:2])
print(name[-1:-4:-1])
print(name [:])
print(name[::-1]) #reverse order
print("".join(reversed(name)))

In [ ]:
name[:]

In [ ]:
imdb = (("Instant Family",7.2,("Hugo",7.8)),["Intersellar",8.0],{"Tenet",7.5},{"Movie_Name":"Despicable Me","Rating":7.2})

In [ ]:
imdb[-1].get("Movie_Name")

In [ ]:
imdb[1][0]="Don't breathe"
print(imdb)

In [ ]:

teams=("IND","PAK","NZ","ENG","AUS")
teams[::-1] #reverse order

#### set indexing

In [ ]:
crypto = {"Bit coin","Dogecoin","Etherum"}

print(crypto[0]) 

print(crypto)

#### dict indexing

In [ ]:
d={"a":[1,{"a":10}],
    "x":{"x":20}}


print(d)
print(d['a'])
print(d['x'])
print(d['x']['x'])
print(d['a'][1]['a'])

#### Operators

In [ ]:
#arthm

# + - * / // ** % 

a = 10
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) #floor divison -> Integer part
print(a%b) # Remainder 
print(a**b) #power

In [ ]:
# Assignment 
# =
# += ,-= , 

a = 3
a= a+1 #a+=1

print(a)
a+=2
print(a)

a-=2
print(a)

a/=2

print(a)

a**=2

print(a)

In [ ]:
#Realtional  operators

In [ ]:
#logical 
# and  -> T and T -> True
# or  -> alteast one should be True
# not  -> reverese

In [ ]:
name = "fury"
passwd = 1234
print(type(name),type(['fury'] ))


print(name == ['fury'] and passwd == 1234) #both

print(name =="fur" or passwd == 1234) #atleast 

print(not (name =="fury" and passwd==1234))

In [ ]:
name = input("Enter the name ")

if (name == "fury"):
    print("It is correct")
else:
    print("it is wrong value")

In [ ]:
#login application 

database = {"username":"divya","passwd":"divya123"}

username = input("Enter the username: ")

passwd = input("Enter the passsword: ")

if username != database["username"]:
    print("Invalid username")
if passwd != database["passwd"]:
    print("Invalid passwd")
    
if username == database["username"] and passwd == database["passwd"]:
    print("Login Success")

else:
    print("Invalid Creds")

In [ ]:
a = 10
b = 300

if a>=10 and not b<100:
    print(True)
    a+=10
    b-=5
    if a>=15 or b>40:
        print(a,b)
    else:
        print(b)
else:
    if a==10 or b>10:
        a+=10
        b+=30
        if (a+b) >50:
            print(a,b)
        else:
            print(b)
    print(False)

In [ ]:
a=20
b=30
c=20
print(a==b) #values 
print(a is b) # memory addr
print(a is c)
print(a is not b)

In [ ]:
a=10
b=10
print(a is b)

print(id(a) ,id(b))

In [ ]:
a=[10]
b=[10]
print(id(a),id(b))
print(a is b) #address
print(a==b) #values
c=a #alias
print(c is a)

In [ ]:
for data in range(1,10,2):
    print(data , end =" ")

### copy

In [ ]:
# alias
# copy()
# shallow copy()
# deep copy()

In [ ]:
a = [10,203,40]

c = a

print(id(a) ,id(c))

a[0] = "Python"

print(a,c)

In [ ]:
d = [10,203,22,22]

e = d.copy()

print(id(d) ,id(e))

e[0] = "java"

print(d,e)

In [ ]:
import copy